<h2>Books</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>

		<tr>
			<td><%= post.title %></td>
			<td><%= post.body %></td>
			<td><%= link_to "Show", post_path(post.id),class:"show_#{post.id}" %></td>
			<td><%= link_to "Edit", edit_post_path(post.id),class:"edit_#{post.id}" %></td>
			<td><%= link_to "Destroy", destroy_post_path(post.id),class:"destroy_#{post.id}",method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
	
	<h2>New book</h2>
	<%= form_for(@postt) do |f| %>
		<h4>Title</h4>
		<%= f.text_field :title,class:"book_title" %>
		<h4>Body</h4>
		<%= f.text_area :body,class:"book_body" %>
		<br>
		<%= f.submit "Create Book" %>

	<%end%>
	

<span>
    	<%#=link_to post.title, post_path(post.id) %>
</span>
</body>
